<!DOCTYPE html>
<html>
<head>
  <title>Mi aplicación</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">Mi aplicación</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'insertar_persona' %}">Insertar Persona</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'insertar_auto' %}">Insertar Auto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'insertar_ciudad' %}">Insertar Ciudad</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'buscar_persona' %}">Buscar Persona</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'buscar_auto' %}">Buscar Auto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'buscar_ciudad' %}">Buscar Ciudad</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6j
